{% extends "base.html" %}

{% block content %}

<style>
	#artistlist
	{
		list-style-type: none;
	}
	#artistlist .artist
	{
		margin-bottom: 20px;
	}
	#artistlist ul
	{
		margin-top: 10px;
		margin-bottom: 10px;
	}
</style>
<p>作者：
<ul id="artistlist">
	<li class="artist">
		<p><fb:profile-pic class="profile-pic" width=100 size=small uid="1681390745" facebook-logo="true" linked="true" /></p>
		資訊科學系 98級 蘇苑霖<br>
		電子信箱：<a href="mailto:littleq0903@gmail.com">littleq0903@gmail.com</a><br>
		負責項目：
		<ul>
			<li>美術設計</li>
			<li>網站設計及維護</li>
			<li>系統設記及維護</li>
			<li>iPhone手機客戶端軟體開發</li>
		</ul>
	</li>
	<li>
		<p><fb:profile-pic class="profile-pic" width=100 size=small uid="1742070806" facebook-logo="true" linked="true" /></p>
		資訊科學系 96級 李嘉玲<br>
		電子信箱：<a href="mailto:spiderman0103@gmail.com">spiderman0103@gmail.com</a><br>
		負責項目：
		<ul>
			<li>iPhone手機客戶端軟體開發</li>
			
		</ul>
	</li>
</ul>
</p>

{% endblock %}