{% extends "base.html" %}


{% block content %}
<script>
function popUp(){
	var url = "http:\//www.facebook.com/dialog/feed?app_id=142892519093949&display=popup&link=http:\//facemapnccu.appspot.com&name=政大臉書地圖&caption=FaceMap@NCCU - 政大人的Facebook通訊錄&description=政大人的Facebook通訊錄，快點上來看看有哪些朋友還沒有你的Facebook！&message=我剛剛發現了「政大臉書地圖」！政大同學也一起來加入吧！&redirect_uri=http:/\/facemapnccu.appspot.com/pages/closepopup";
	window.open(encodeURI(url),"分享 政大臉書地圖","status=0, width=400, height=100, resizable=0");	
};
</script>
<div style="float: right;"><a class="fb_button fb_button_medium" onClick=popUp()><span class="fb_button_text">按我和政大同學分享</span></a></div>
<img src="/images/logo_300.png" width=200 style="margin-right:10px; float:left; overflow: hidden;">
<p><fb:like href="http://www.facebook.com/apps/application.php?id=142892519093949" show_faces="true" width="450" font="lucida grande"></fb:like></p>
<p>Facebook目前是最火紅的社群網站，當初是因為要讓哈佛的校園內的社群行為移到網路上，現在在全世界擁有五億用戶，我們的Project打算回歸初衷，再度讓Facebook的社交圈縮小到政大的校園內，讓政大人可以透過Facebook再度熟悉、或結識更多政大人。想想看，校園內是否有曾經多次相遇卻無法得知一切的熟悉面孔？在想一想，有多少同學雖然每次見面都會打招呼，姓名卻無法得知，每次都只能以「欸」的一聲來帶過。</p> 
<p>現在，faceMap@NCCU讓你有個機會熟悉，想認識卻又找不到機會好好認識的政大人，Steve Jobs曾說：「iPhone, change your life again.」，現在faceMap@NCCU將會改變你的NCCU life。</p> 
<p> 
我們將會有幾個功能：
	<ul>
		<li>瀏覽全校各系所有哪些同學有Facebook。</li> 
		<li>將找到的Facebook加入手機的通訊錄。</li> 
		<li>政大人專屬的聊天室。</li> 
		<li>持續規劃中...</li>
	</ul> 
</p>
<p>這些服務將會是免費的，請大家踴躍註冊！</p>
{% endblock %}