{% extends "base.html" %}


{% block content %}
<script>
	FB.init({'apikey':"{{APIKEY}}",
			'cookie': true,
			'status': true,
			'appId':"{{APPID}}",
			'xfbml': true});
</script>
<img src="/images/logo_300.png" width=200 style="margin-right:10px; float:left; overflow: hidden;">
<p>Facebook目前是最火紅的社群網站，當初是因為要讓哈佛的校園內的社群行為移到網路上，現在在全世界擁有五億用戶，我們的Project打算回歸初衷，再度讓Facebook的社交圈縮小到政大的校園內，讓政大人可以透過Facebook再度熟悉、或結識更多政大人。想想看，校園內是否有曾經多次相遇卻無法得知一切的熟悉面孔？在想一想，有多少同學雖然每次見面都會打招呼，姓名卻無法得知，每次都只能以「欸」的一聲來帶過。</p> 
<p>現在，faceMap@NCCU讓你有個機會熟悉，想認識卻又找不到機會好好認識的政大人，Steve Jobs曾說：「iPhone, change your life again.」，現在faceMap@NCCU將會改變你的NCCU life。</p> 
<p> 
我們將會有幾個功能：
	<ul>
		<li>瀏覽全校各系所有哪些同學有Facebook。</li> 
		<li>將找到的Facebook加入手機的通訊錄。</li> 
		<li>政大人專屬的聊天室。</li> 
		<li>持續規劃中...</li>
	</ul> 
</p>
<p>這些服務將會是免費的，請大家踴躍註冊！</p>
{% endblock %}